extends layout

block head
  link(rel='stylesheet', href='/css/custom/nouislider.min.css')
block content
  div.map
    #map
    section.popup.hidden Some text
      

block scripts
  script(src="/js/script.js")

    

